<!-- Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://minimalcave.us1.list-manage.com/subscribe/post?u=28ab51f30b93eb175a06d0002&amp;id=bdb153b94e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div id="mc_embed_signup_scroll" class="form-group">
        <label for="mce-EMAIL"><strong>Get new posts by email</strong></label>
        <input type="text" value="" name="EMAIL" placeholder="email address" spellcheck="false" required/>
        <input type="submit" class="btn btn--primary btn--block" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"/>
    </div>
</form>
</div>